.navbar .active {
	color: #00FFFF;
}

.col-lg img {
	width: 75%;
	border: 2px solid black;
	border-radius: 5px;
}

.col-lg img:hover {
	opacity: 0.5;
}

.col-lg button {
	border: 0;
}

figcaption {
	padding: 10px 0px 20px;
}

.btn-increment {
  color: #fff;
  background-color: #b5babe;
  border-color: #6c757d;
  opacity: 0.5;
  border-radius: 10px;
}

.btn-increment:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  opacity: 1;
}

.btn-increment:focus, .btn-increment.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}