.navbar .active {
	color: #00FFFF;
}

.col-lg img {
	width: 75%;
	border: 2px solid black;
	border-radius: 5px;
}

.col-lg img:hover {
	opacity: 0.5;
}

figcaption button {
	border-radius: 20px;
	background-color: black;
}

.btn-outline-secondary {
	background-color: red;
}