.navbar .active {
	color: #00FFFF;
}

.col-lg img {
	width: 75%;
	border: 2px solid black;
	border-radius: 5px;
}

.col-lg input[type="checkbox"] {
  width: 75%;
  border: 2px solid black;
  border-radius: 5px;
}

/*.col-lg img:hover {
	opacity: 0.5;
}*/

figcaption {
	padding: 10px 0px 20px;
}

.btn-increment {
  color: #fff;
  background-color: #b5babe;
  border-color: #6c757d;
  opacity: 0.5;
  border-radius: 10px;
}

.btn-increment:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  opacity: 1;
}

.btn-increment:focus, .btn-increment.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label{
    background:url('images/check-box.png') no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

input[type="checkbox"]:checked + label{
    background:url('images/check-box-checked.png') no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.bk {
  background: url("images/burgerKing.jpg") no-repeat scroll 0 0 transparent;
}

.cfa {
  background: url("images/chickFilA.jpg") no-repeat scroll 0 0 transparent;
}

.md {
  background: url("images/mcDonalds.jpg") no-repeat scroll 0 0 transparent;
}

.w {
  background: url("images/wendys.jpg") no-repeat scroll 0 0 transparent;
}